<h1>5 Javascript Projects You Need TO Build Right Now</h1>
<ul>
	
	<li>
		<%=link_to "How to create a Modal",homes_modal_path%>
	</li>
	<li>
	<%=link_to "How to create a FAQ page",homes_faq_path%>
	</li>
	<li>
	<%=link_to "How to Create a Tab that display different Content",homes_tab_path%>
	</li>
	<li>
	<%=link_to "How to create a grocery list",homes_list_path%>
	</li>
	<li>
	<%=link_to "Using Stimulas in Rails",homes_stimulas_path%>
	</li>
</ul>